{% extends 'main.html' %}
{% load static %}

{% block content %}
<body>
    <div style="font-size: 32px; font-weight: bold;  display: flex; justify-content: center; margin-bottom: 40px;">Register</div>

    <style>
        #input-box{
            border-radius: 10px;
            padding: 12px;
            border-width: 1px;
            border-style: solid;
            height: 20px;
            font-size: 16px;
            width: 400px;
            background: white;
        }

    </style>


    <form method="POST" action="">
        <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
            {% csrf_token %}
            <input id="input-box" type="text" placeholder="Username" name="username" required>
            <br><br>
            <input id="input-box" type="email" placeholder="Email" name="email" required>
            <br><br>
            <input id="input-box" type="password" placeholder="Password" name="password1" required>
            <br><br>
            <input id="input-box" type="password" placeholder="Confirm Password" name="password2" required>
            <br><br>
            <button style="font-size: 22px; width: 220px; height: 50px; border-style: solid; border-radius: 10px; background-color: #D9D9D9; display: flex; justify-content: center; align-items: center; border-width: 1px;" type="submit" name="register">Sign Up</button>
            
            <p style="padding-top: 20px ;">Already have an account? <a style="text-decoration: underline;" href="{% url 'login' %}">Login</a></p>
    
    </div>
    </form>
    
    






<footer>
</footer>
</body>
</html>
{% endblock %}