{% extends 'main.html' %}
{% load static %}

{% block content %}

<body>
  <script src="https://js.stripe.com/v3/"></script>
  <style>

    #payment-form {
      width: 30vw;
      min-width: 500px;
      align-self: center;
      border-radius: 7px;
      padding: 40px;
    }
    #email {
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid rgba(50, 50, 93, 0.1);
      height: 30px;
      font-size: 16px;
      width: 80%;
      background: white;
    }
    .result-message {
      line-height: 22px;
      font-size: 16px;
    }
    .result-message a {
      color: rgb(89, 111, 214);
      font-weight: 600;
      text-decoration: none;
    }
    .hidden {
      display: none;
    }
    #card-error {
      color: rgb(105, 115, 134);
      text-align: left;
      font-size: 13px;
      line-height: 17px;
      margin-top: 12px;
    }
    #card-element {
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid rgba(50, 50, 93, 0.1);
      height: 30px;
      font-size: 16px;
      width: 80%;
      background: white;
    }
    #payment-request-button {
      margin-bottom: 32px;
    }
    /* Buttons and links */
    #submit {
      background: #ffffff;
      color: #000000;
      font-family: Arial, sans-serif;
      border-radius: 10px;
      border-style: solid;
      padding: 12px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      display: block;
      transition: all 0.2s ease;
      box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
      height: 56px;
      width: 85%;
      margin-top: 20px;
    }
    button:hover {
      filter: contrast(115%);
    }
    button:disabled {
      opacity: 0.5;
      cursor: default;
    }
    
    
    #purchase-cart-box{
      width: 500px;
      height: 600px;
      border-style: solid;
      border-color: #000000;
      border-width: 1px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
    }
    #item-container {
    width: 90%;
    height: 40px;
    display: flex;
    padding: 10px;
    gap: 70px;
    font-size: 24px;
    align-items: center;
    margin: 5px;
}
    #cart-item-remove{
        margin-left: auto;
        text-decoration: underline;
        font-size: 20px;
        cursor: pointer;
    }

  </style>
    <div style="display: flex; justify-content: space-around; width: 80%; margin-right: auto; margin-left: auto;">
      
      <section>
        <button type="button" id="checkout-button" style="display: none;"></button>
        <div style="display: flex; margin-left: auto; margin-right: auto; font-size: 38px; justify-content: center; font-weight: bold; padding-right: 100px; margin-top: 50px;">Purchase Cart</div>
        <form id="payment-form">
          <input style="margin-top: 40px;" type="text" id="email" placeholder="Email address" />
          <div id="card-element"><!--Stripe.js injects the Card Element--></div>
          <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Confirm</span>
          </button>
          <p id="card-error" role="alert"></p>
          <p class="result-message hidden">
            Payment succeeded, see the result in your
            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
          </p>
        </form>
      </section>
      <div id="purchase-cart-box">

        {% if cart %}
          {% for i in cart %}
              <div id="item-container">
                  <div style="display: flex;">
                      <div style="margin-right: 35px; font-size: 22px;" id="cart-item-name">{{i.itemName}}</div>
                      <div style="font-size: 22px;" id="cart-item-size">{{i.itemSize}}</div>
                  </div>
                  <div>
                      <div style="font-size: 22px;" id="cart-item-price">${{i.getDisplayPrice}}</div>

                  </div>
              </div>

          {% endfor %}
          <div style ="margin-top: auto; display: flex;">
            <div style="margin: 30px; font-size: 32px;">Total</div>
            <div style="margin: 30px; font-size: 32px;">${{ total }}</div>
          </div>      
        {%endif%}

      </div>
    </div>
      
  {% csrf_token %}

  </body>
  <script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("{% url 'create-checkout-session-cart' %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': csrftoken
        }
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });


    // Disable the button until we have Stripe set up on the page
    document.querySelector("button").disabled = true;

    var elements = stripe.elements();
    var style = {
      base: {
        color: "#32325d",
        fontFamily: 'Arial, sans-serif',
        fontSmoothing: "antialiased",
        fontSize: "16px",
        "::placeholder": {
          color: "#32325d"
        }
      },
      invalid: {
        fontFamily: 'Arial, sans-serif',
        color: "#fa755a",
        iconColor: "#fa755a"
      }
    };

    var card = elements.create("card", { style: style });
    // Stripe injects an iframe into the DOM
    card.mount("#card-element");
    card.on("change", function (event) {
      // Disable the Pay button if there are no card details in the Element
      document.querySelector("button").disabled = event.empty;
      document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
    });
    var form = document.getElementById("payment-form");
    form.addEventListener("submit", function(event) {
      event.preventDefault();
      // Complete payment when the submit button is clicked
      fetch("{% url 'create-payment-intent-cart' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
          email: document.getElementById('email').value
        })
      })
        .then(function(result) {
          return result.json();
        })
        .then(function(data) {
          payWithCard(stripe, card, data.clientSecret);
        });
    });
    
    // Calls stripe.confirmCardPayment
    // If the card requires authentication Stripe shows a pop-up modal to
    // prompt the user to enter authentication details without leaving your page.
    var payWithCard = function(stripe, card, clientSecret) {
      loading(true);
      stripe
        .confirmCardPayment(clientSecret, {
          payment_method: {
            card: card
          }
        })
        .then(function(result) {
          if (result.error) {
            // Show error to your customer
            showError(result.error.message);
          } else {
            // The payment succeeded!
            orderComplete(result.paymentIntent.id);
          }
        });
    };
    /* ------- UI helpers ------- */
    // Shows a success message when the payment is complete
    var orderComplete = function(paymentIntentId) {
      loading(false);
      document
        .querySelector(".result-message a")
        .setAttribute(
          "href",
          "https://dashboard.stripe.com/test/payments/" + paymentIntentId
        );
      document.querySelector(".result-message").classList.remove("hidden");
      document.querySelector("button").disabled = true;
    };
    // Show the customer the error from Stripe if their card fails to charge
    var showError = function(errorMsgText) {
      loading(false);
      var errorMsg = document.querySelector("#card-error");
      errorMsg.textContent = errorMsgText;
      setTimeout(function() {
        errorMsg.textContent = "";
      }, 4000);
    };

    var loading = function(isLoading) {
      if (isLoading) {
        // Disable the button
        document.querySelector("button").disabled = true;
      } else {
        document.querySelector("button").disabled = false;
      }
    };

  </script>

<footer></footer>
</html>

{% endblock %}